.product-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.product-image {
    flex: 1;
    text-align: center;
}

.product-image img {
    max-width: 100%;
    height: auto;
}

.product-info {
    flex: 1;
    padding: 20px;
}

.product-info h1 {
    margin-top: 0;
}

.quantity {
    margin-top: 10px;
}

.quantity label {
    margin-right: 10px;
}

.quantity input {
    width: 50px;
    padding: 5px;
}

.add-to-cart {
    width: fit-content !important;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #0056b3;
}